.about{
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: row;
  }

  .left-history{
    width: 70%;
  }

  .right-facts{
    width: 30%;
  }

  .bottom-quote{
    width: 100%;
  }

  .leadership{
    width: 100%;
  }