.about{
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: row;
  }

  .left-history{
    width: 70%;
  }

  .right-facts{
    width: 25%;
  }

  .bottom-quote{
    width: 100%;
  }

  .leadership{
    width: 100%;
  }

  app-leaderdetail{
    word-wrap: break-word;
  }

  @media screen and (max-width: 576px) {
    .container{
      display: flex;
      flex-direction: column;
    }
  
    .left-history{
      width: 80%;
    }
  
    .right-facts{
      width: 80%;
    }
  
    .bottom-quote{
      width: 80%;
    }
  
    .leadership{
      width: 80%;
    }
  }