<div class="container">
  <div fxFlex *ngIf="leaders">
    <mat-list class="example-list-wrapping" *ngFor="let leader of leaders">
      <mat-list-item lines="3">
        <img matListItemAvatar src={{leader.image}} alt="...">
          <span matListItemTitle>{{leader.name}}</span>
          <span matListItemLine>{{leader.position}}</span>
         {{leader.text}}
      </mat-list-item>
    </mat-list>
  </div>
  <div [hidden]="leaders">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  </div>