.menu{
    width: 100vw;
}

.container{
 margin-bottom: 100px;
}

mat-grid-list{
  position: unset !important;

  mat-grid-tile {
    position: absolute !important;
    margin-top: 450px !important;
  }
}

