mat-card{
    position: relative !important;
    margin-top: 200px;
    width: 45vw;
    height: auto;
}

.dish-detail{
    width: 100vw;
  }

.dish-detail-wrapper{
    display: flex;
    flex-direction: row;
  }

 .dish-detail-comment{
  padding-left: 20px;
 } 

  mat-list {
    margin-top: 50px !important;
  }

  mat-form-field{
    width: 50vw;
  } 

@media screen and (max-width: 576px) {
    mat-card{
        width: auto;
        margin-top: 50px;
    }
    mat-list {
      margin-top: 50px !important;
    }
    mat-form-field{
      width: 80vw;
    } 
    .dish-detail-wrapper{
        display: flex;
        flex-direction: column;
      }
  }