mat-card{
    position: relative !important;
    margin-top: 200px;
    width: 45vw;
    height: auto;
}

mat-list {
    position: absolute !important;
    margin-top: 350px !important;
  }

  mat-form-field{
    width: 50vw;
  }  

.container{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 500px;
  }

@media screen and (max-width: 576px) {
    mat-card{
        width: auto;
        margin-top: 50px;
    }
    mat-list {
      margin-top: 50px !important;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 600px;
      }
  }