.home{
    width: 100vw;
  }

  .homeWrapper{
    display: flex;
    flex-direction: row;
  }

  mat-card{
    width: 32.5vw;
    height: 100vh;
}


@media screen and (max-width: 576px) {
    .homeWrapper{
      display: flex;
      flex-direction: column;
    }
    mat-card{
        width: auto;
    }
  }