<div class="container">
  <div class="home">
    <div class="homeWrapper">

      <div class="homeTile">
        <div class="spinnerDish" [hidden]="dishes || dishErrMess">
          <mat-spinner></mat-spinner>
          <h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="dishErrMess">
          <h2>Error</h2>
          <h4>{{dishErrMess}}</h4>
        </div>
        
        <mat-card *ngIf="dishes">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
              <h3>{{dishes.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{BaseURL + dishes.image}}" alt="{{dishes.name}}" />
          <mat-card-content>
            <p>{{dishes.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="homeTile">
        <div class="spinnerPromotion" [hidden]="promotions">
          <mat-spinner></mat-spinner>
          <h4>Loading . . . Please Wait</h4>
        </div>
        <mat-card *ngIf="promotions">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
              <h3>{{promotions.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="{{BaseURL + promotions.image}}"
            alt="{{promotions.name}}"
          />
          <mat-card-content>
            <p>{{promotions.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="homeTile">
        <div class="spinnerLeader" [hidden]="leaders">
          <mat-spinner></mat-spinner>
          <h4>Loading . . . Please Wait</h4>
        </div>
        <mat-card *ngIf="leaders">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
              <h3>{{leaders.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ BaseURL + leaders.image}}" alt="{{leaders.name}}" />
          <mat-card-content>
            <p>{{leaders.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>
      
    </div>
  </div>
</div>
